
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
  }
  body {
    font-family: 'JetBrainsMono', monospace;
  }
        .maincontainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffc7c7;
            
           
            
        }
        .leftcontainer{
            margin-top: 30px;
            height:500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: fixed;
            
        }
        .rightcontainer{
            margin-top: 500px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.007);
            gap: 50px;
            padding: 50px;
            

        }
       #shadowbox{
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: #ffc7c7;
        border-radius: 10px;
        color: black;
        box-shadow:5px 5px 10px #6b6b6b, -5px -5px 10px #e3e3e3;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        


       } 

       .sizecontroler{
        margin-top: 30px;
        border-radius: 10px;
        padding: 20px;
        position: fixed;
        top:10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.151);
       
        width: 300px;
        backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
         
       }
       .sizelibrary{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        & label{
            width: 110px;
            
        }
        & input{
            
  width: 50%;
  height: 50px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;

        }
       }

       #contorls{
        margin-top: 50px;
        border-radius: 10px;
        width: 800PX;
        background-color: rgba(0, 0, 0, 0.534);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        box-shadow: 7px 7px 8px #000000, -7px -7px 8px #5a5a5a;
        border: 10px solid rgb(255, 255, 255);
        
        backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
       }

       .cssbox{
        border-radius: 10px;
       
        font-size: 20px;
        margin-top: 50px;
        height: 300px;
        width: 500PX;
        padding: 10px;
        background-color: #1e1e1e;
        color: #37a3ef;
        border: inset 10px solid rgb(255, 255, 255); 
        box-shadow:  7px 7px 8px #747474, -7px -7px 8px 5px#ffffff;  
         
       }
       .header{
        height: 30px;
        width: 100%;
        
        background-color: #1e1e1e;
        box-shadow: 2px 2px 2px black;
    }

       .valuebox{
        height: 30px;
        width: 80px;
        background-color: rgba(255, 255, 255, 0.664);
        
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;

        box-shadow: inset 3px 3px 5px #929292,
            inset -3px -3px 5px #ffffff;
       }
       .valueboxcolor{
        height: 30px;
        width: 80px;
        background-color: white;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .iputlibrary{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        & label{
            width: 150px;
            color: rgb(128, 0, 0);
            
            
        }
        & input{
            
  width: 50%;
  height: 50px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;

        }

        #textset{
            background-color: rgba(255, 255, 255, 0.685);
            border: none;
            padding-left: 10px;
        }
        
       }
       #btn{
        height: 30px;
        width: 100px;
        background-color: rgb(207, 207, 207);
        border: none;
        
        background-color: rgb(216, 216, 216);
        display: none;
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: 55;
        
    }

    .attribute{
        color: rgb(2, 217, 255);
        span{
            color: rgb(118, 216, 135);
        }
    }

       

       

       

       @media (max-width: 500px) {

        #shadowbox{
            margin-top: 150px;
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 200px;
            background-color: #ffc7c7;
            border-radius: 17px;
            color: black;
            box-shadow:5px 5px 10px #4f4f4f, -5px -5px 10px #ffffff;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            
    
    
           } 

        #btn{
            height: 30px;
            width: 100px;
            background-color: rgb(99, 93, 93);
            border: none;
            
           
            display: block;
            z-index: 55px;
            border-radius: 5px;
            margin-left: 10px;
            backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 56, 56, 0.514);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
           
            
        }
        .leftcontainer{
            padding: 20px;
            height:500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: fixed;
            
        }

        .rightcontainer{
            margin-top: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            gap: 20px;
            
            
            

        }

        #contorls{
            margin-top: 50px;
            border-radius: 10px;
            width: 300PX;
            background-color: rgba(0, 0, 0, 0.534);
            display: flex;
            flex-direction: column;
            justify-items: center;
            
            gap: 2px;
            padding: 20px;
            position: sticky;
            top: 260px;
            backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
           
            
           }

           .sizecontroler{
            border-radius: 10px;
            padding: 20px;
            position: fixed;
            top:30px;
            left: 10px;
            background-color: rgba(255, 255, 255, 0.151);
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            z-index: 50;
            
            
            
            
           }

           .cssbox{
            border-radius: 10px;
            z-index: 55;
           
            font-size: 20px;
            margin-top: 50px;
            height: 300px;
            width: 300PX;
            padding: 10px;
            background-color: #1e1e1e;
            color: #37a3ef;
            border: inset 10px solid rgb(255, 255, 255); 
            box-shadow:  7px 7px 8px #747474, -7px -7px 8px 5px#ffffff;  
             
           }
           .header{
            height: 30px;
            width: 100%;
            
            background-color: #1e1e1e;
            box-shadow: 2px 2px 2px black;
        }





        }





        
