

        .maincontainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(190, 190, 190);
            height: 100vh;
        }
        .leftcontainer{
            height:600px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .rightcontainer{
            
            width: 100%;
            display: flex;
            flex-direction: row;
            
            background-color: white;

        }
       #shadowbox{
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: #4d4d4d;
        border-radius: 17px;
        color: black;
        box-shadow:5px 5px 10px #4f4f4f, -5px -5px 10px #ffffff


       } 

       #contorls{
        margin-top: 50px;
        
        width: 500PX;
        background-color: rgb(248, 248, 248);
        display: flex;
        flex-direction: column;
        
       }

       .cssbox{
        margin-top: 50px;
        height: 300px;
        padding: 10px;
        background-color: #1e1e1e;
        color: #37a3ef;
        .header{
            height: 30px;
            width: 100%;
            color: rgb(240, 74, 74);
        }

       }
       .valuebox{
        height: 30px;
        width: 40px;
        background-color: white;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .valueboxcolor{
        height: 30px;
        width: 80px;
        background-color: white;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .iputlibrary{
        display: flex;
        
        
       }

       

html{
    box-shadow:39px 39px 10px #ffffff, -39px -39px 10px #ffffff;
background-color:#4d4d4d
}



